@import "./mocha.css";

* {
  font-family:FiraCode Nerd Font;
  font-size: 16px;
  border-radius: 0;
  border: none;
  min-height: 0;
  color: @text;
}

#mode {
    background-color: @flamingo;
    color: @base;
}

#mode, #clock, #bluetooth {
  padding-left: .6rem;
  padding-right: .6rem;
}

tooltip {
  background-color: shade(@base, 0.9);
}

window#waybar {
  background-color: shade(@base, 0.9);
}

button {
  border: none;
  border-radius: 0;
  background-color: transparent;
}

#workspaces button {
  padding: 0 15px;
  background-color: transparent;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  border-bottom: 3px solid @sapphire;
}

#workspaces button:hover {
  border-bottom: 3px solid @rosewater;
  background-color: @red;
  box-shadow: inherit;
  background-color: shade(@base, 0.8);
}

#workspaces button.urgent {
  color: @red
}

#bluetooth {
  color: @blue
}

#bluetooth.disabled {
  color: @red
}

#bluetooth.on {
  color: @blue
}

#battery.warning {
  color: @peach
}

#battery.critical {
  color: @red
}

#clock {
  color: @rosewater;
}

#wireplumber {
  color: @green
}

#wireplumber.muted {
  color: @red
}

#network {
  color: @yellow
}

#network.disconnected {
  color: @red
}
