@import url(chrome/compact_proton.css);
@import url(chrome/tab_close_button_always_on_hover.css);
@import url(chrome/navbar_tabs_oneliner.css);
@import url(chrome/show_urlbar_button.css);
@import url(chrome/tab_loading_progress_bar.css);
@import url(chrome/tabs_fill_available_width.css);
@import url(chrome/autohide_navigation_button.css);
@import url(chrome/sharp_menupopup_corners.css);

:root{
  --uc-menu-bkgnd: var(--toolbar-bgcolor);
  --arrowpanel-background: var(--toolbar-bgcolor) !important;
  --autocomplete-popup-background: var(--toolbar-bgcolor) !important;
}

.titlebar-close{ display: none }

#sidebar-box{ --sidebar-background-color: var(--toolbar-bgcolor) !important; }
